
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastraUsuario</title>
    <link href="~/vendors/ti-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/Content/Template/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script src="~/Scripts/WaitScript.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/Template/off-canvas.js"></script>
    <script src="~/Scripts/Template/hoverable-collapse.js"></script>
    <script src="~/Scripts/Template/template.js"></script>
    <script src="~/Scripts/Template/todolist.js"></script>
    <script src="~/Scripts/Template/dashboard.js"></script>

    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                @*<img src="../../images/logo.svg" alt="logo">*@
                            </div>
                            @*<h4>Help System!</h4>*@
                            <h6 class="font-weight-light">Cadastro de Usuário</h6>

                            @if (ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>@ViewBag.ErrorMessage</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                            @if (ViewBag.message != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>@ViewBag.message</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                            }

                            <form class="pt-3" method="post" action="@Url.Action("CadastrarUsuario","Login")">
                                <div class="form-group">
                                    <label for="EmailUsuario" style="font-size:medium;">Email</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="ti-user text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control form-control-lg border-left-0" id="EmailUsuario" name="Email" placeholder="Email" autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordUser" style="font-size:medium;">Senha</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="ti-lock text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control form-control-lg border-left-0" id="PasswordUser" autocomplete="off" name="Senha" placeholder="Senha" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtNome" style="font-size:medium;">Nome</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="ti-user text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-lg border-left-0" id="txtNome" name="Nome" placeholder="Nome" required>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label for="txtNomeUsuario">Usuário Nome</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend bg-transparent">
                                                <span class="input-group-text bg-transparent border-right-0">
                                                    <i class="ti-user text-primary"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control form-control-lg border-left-0" id="txtNomeUsuario" name="NomeUsuario" placeholder="Nome do Usuário" required>
                                        </div>
                                    </div>*@
                                <div class="my-2 d-flex justify-content-between align-items-center">


                                </div>
                                <div class="my-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Cadastrar</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">

                                    <a href="@Url.Action("Index","Login")" class="text-primary">Retornar para tela de Login</a>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6  d-flex flex-row">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2022  All rights reserved.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    @*<script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>*@
</body>
</html>
